<header class="header">

	<div class="header-image header-image--on" style="background-image: url({{ page.featured_image | relative_url }});"></div>
	<div class="header-image"></div>

	<div class="header-overlay"></div>

	<div class="header__content">

		{% if site.data.settings.header_settings.logo_image %}
		<a href="{{ site.baseurl }}/" class="header__logo">
			<img src="{{ site.data.settings.header_settings.logo_image | relative_url }}" class="header__logo__img">
		</a>
		{% else %}
		<h1>
			<img src="{{ site.data.settings.basic_settings.favicon_image | relative_url }}" class="header__logo__img">
		</h1>
		
		<h2>
			<a href="{{ site.baseurl }}/" class="header__title">
				{{ site.data.settings.basic_settings.site_title }}
			</a>
		</h2>
		{% endif %}

		<h3>
		<p class="header__tagline">{{ site.data.settings.basic_settings.site_tagline }}</p>
		</h3>

		<h4>
			<a href = "mailto: hskyoon@kaist.ac.kr" class="header__email">hskyoon@kaist.ac.kr</a><br>
			<a href = "mailto: hyoon962@gmail.com" class="header__email">hyoon962@gmail.com (permanent)</a>
		</h4>

		<h5>
			<a class="header__email">CV</a>
			<a class="header__email">|</a>
			<a href="https://scholar.google.com/citations?user=av4g2NQAAAAJ&hl=en" class="header__email">Google Scholar</a>
			<a class="header__email">|</a>
			<a href="https://github.com/hee-suk-yoon" class="header__email">GitHub</a>
			<a class="header__email">|</a>
			<a href="https://www.linkedin.com/in/hee-suk-yoon-262935137/" class="header__email">Linkedin</a>
		</h5>

		<div class="menu">
			<div class="menu__toggle js-menu-toggle">
				<div class="menu__toggle__icon"><span></span></div>
			</div>
			<div class="menu__wrap">
				<ul class="menu__list">
					{% for item in site.data.settings.menu_settings.menu_items %}
					<li class="menu__list__item">
						<a href="{{ item.url | relative_url }}" class="menu__list__item__link">{{ item.title }}</a>
					</li>
					{% endfor %}
				</ul>
				{% include socials.html %}
			</div>
		</div>

	</div>

</header>